<html>
    <head>
        <link rel="stylesheet" href="style.css">
        <style>
            table,th,td {
                border: solid maroon;
            } 
        </style>
    </head>

    <body>

        <h3>
            <a href="/">Home</a> <br>
            <a href="/insertDeveloper"> Add Developer </a> <br>
            <a href="/newTask"> Add New Task</a> <br>
            <a href="/listTasks"> List Tasks</a> <br>
            <a href="/update"> Update Task</a> <br>
            <a href="/deleteTask"> Delete Task by Id</a> <br>
            <a href="/deleteCompleted"> Delete Completed Tasks</a> <br>
        </h3>


        <p>
            <table>
                    <tr>
                        <th>
                            Developer Id
                        </th>
                        <th>
                            Developer Name
                        </th>
                        <th>
                            Level
                        </th>
                        <th>
                            State
                        </th>
                        <th>
                            Suburb
                        </th>
                        <th>
                            Street
                        </th>
                        <th>
                            Unit
                        </th>
                    </tr>
                    <% for (let i = 0; i < developer.length; i++ ) { %>
                        <tr>
                            <td>
                                <%= developer[i]._id %>
                            </td>
                            <td>
                                <%= developer[i].firstName + developer[i].lastName %>
                            </td>
                            <td>
                                <%= developer[i].level %>
                            </td>
                            <td>
                                <%= developer[i].address.state %>
                            </td>
                            <td>
                                <%= developer[i].address.suburb %>
                            </td>
                            <td>
                                <%= developer[i].address.street %>
                            </td>
                            <td>
                                <%= developer[i].address.unit %>
                            </td>
                        </tr>
                    <% } %>
            </table>
        </p>
        
    </body>
</html>